@import "utils/fonts";
@import "utils/reset";
@import "utils/vars";
@import "blocks/todo";

@import "blocks/background";

body {
	width: 100%;
	height: 100vh;
	font-family: "Josefin Sans";
}

#app {
	width: 100%;
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;

}