# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore

# Default
.gulp
.idea
.vscode

# Node
node_modules

# Dist & test
test

# BD, logs
*.log
*.sql
*.sqlite

# Other
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# Special
Thumbs.db
Desktop.ini
.DS_Store*
ehthumbs.db
Icon?
package-lock.json
settings.json