
// Fonts

$mainFont                           : "Josefin Sans";
$regularWeight                      : "400";
$boldWeight                         : "700";
$mainFontSize                       : 18px;

// Size

$desktopWidth                       : 1440px;
$phoneWidth                         : 375px;